runtime: php55
api_version: 1

handlers:
- url: /
  script: public/bot.php
  secure: always

env_variables:
  BOT_API_KEY: '12315536:vwa46bsnbgzdxyzb64b4bsdt6sdrn67'
  BOT_USERNAME: 'myawesomebot'
  BOT_WEBHOOK: 'https://YOURAPPNAME.appspot.com/?a=run&s=RandomUnguessableString'
  BOT_SECRET: 'RandomUnguessableString'
  #BOT_ADMIN: '1563465'
  #E621_LOGIN: ''
  #E621_API_KEY: ''

skip_files:
- ^.*\.yaml$
- ^(.*/)?\..*$
